<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/foundation.css">
  </head>
  <body>
    <section class="actor_list">

        <ul>
          <% @results.each do |actor| %>
            <li>
              <a href="/actors/<%=actor["id"]%>"> <%= actor["name"] %> </a> <%= actor["count"]%>
            </li>
          <% end %>
        </ul>
    </section>
  </body>








</html>
