<!DOCTYPE.html>
<html>
  <head>
    <title></title>
    <style> </style>
  </head>
  <body>
    <section class="actor">
    <h1><%=@results[0]["name"] %> </h1>
    <table>
      <tr>
        <th>Movie</th>
        <th>Character</th>
      </tr>
      <% @results.each do |movie| %>
        <tr>
          <td>
            <a href="/movies/<%=movie["id"]%>"> <%= movie["title"] %></a>
          </td>
          <td>
            <%= movie["character"] %>
          </td>
        </tr>
      <% end %>


    </table>
    </section>
  </body>








</html>
