<!DOCTYPE.html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/foundation.css">
  </head>
  <body>
    <a href="/movies">Movies</a>
    <a href="/actors">Actors </a>
    <section class="actor">
    <h1><%=@results[0]["name"] %> </h1>
    <table>
      <tr>
        <th>Movie</th>
        <th>Character</th>
      </tr>
      <% @results.each do |movie| %>
        <tr>
          <td>
            <a href="/movies/<%=movie["id"]%>"> <%= movie["title"] %></a>
          </td>
          <td>
            <%= movie["character"] %>
          </td>
        </tr>
      <% end %>


    </table>
    </section>
  </body>








</html>
